@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body { background: #f1f1f1;
    font-family: 'roboto';
    font-size: 16px;
    font-weight: normal;
     color: #0f141e;
}  
a {
    color:#000; 
    text-decoration: none;
}
a:hover {
    color: green;
    font-size: 2rem;
    text-decoration: underline;
}
a:visited {
    color: purple;
}
a:active {
    color: blue;
}

.btn {
    background: #111;
    color:#f1f1f1;
    padding: 10px 5px;
    border-radius: 5px;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 8;
}

.container{
    max-width: 750px;
    margin: auto; 
    padding-top:35px;
  }


.info {
    margin-bottom: 20px;
    display: flex;
    }
    .info img {
        width: 200px;
        border-radius: 20px;
        box-shadow: 4px 4px 14px rgba(0,0,0, .25)
        
    }

    .info-text {
        margin-left: 40px;
    }
.info-text p{ 
    font-style: italic; 
    font-weight: bold;
    color: #86898f;
    margin:0;
}
.info-text h2 {
    margin-bottom: 10px;
}


#paragraf2 { 
    text-decoration: unset;

}

@media (max-width: 600px) {
.info {
    display:  block;
    text-align: center;
    }
}
.hobby {
    border: 10px;
    border-radius: 10px;
    background: greenyellow;
    padding:15px 20px;
    margin-bottom: 20px;
}
.work {
    border: 10px;
    border-radius: 10px;
    background-color: palevioletred;
    padding:15px 20px;
    margin-bottom: 20px;
}
.work1 {
    border: 10px;
    border-radius: 10px;
    background-color: yellow;
    padding:15px 20px;
    margin-bottom: 20px;
}

.list {
    padding: 0 20px;
}

.list li {
    color: #86898f;
    margin-bottom: 10px;
}

.table {
    width: 100%;
}
 .table td {
    padding-bottom: 10px;
 }
 .table td:nth-child(2) {
    color: #86898f;
 }

 .form h2 {
    text-align: center;
 }

 .form-row {
    margin-bottom: 10px;
    display: flex;
 }

 .form-row .form-group {
    margin-right: 20px;
    width:50%;
    /* display: inline-block;
    width: calc(50%-20px); */
 }

 .form-row .form-group:last-child {
    margin-right: 0;
 }
 
   @media (max-width: 600px) {
   .form-row {
    display: block;
   }
}

.form-row .form-group {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
}
   

 .form-group label{
    display:block;
    font-size: 14px;
    color: #86898f;
 }

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}
    



